<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/lipis/bootstrap-social/gh-pages/bootstrap-social.css">
</head>
<body>
{% load staticfiles %}
{% load socialaccount %}
{% providers_media_js %}
<div style="margin:20px 35%">
{% if user.is_authenticated %}
    <h2>Спасибо что зашли к нам</h2>
      <a id="logout" href="/accounts/logout" class="btn btn-success">Logout</a>
{% else %}
<h2>Залогируйтесь в нашем приложении через facebook</h2>
<a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-block btn-social btn-facebook" style="background-color:#3b5998;text-align:center">
  <span class="fa fa-facebook"></span>
               Sign in with Facebook
 </a>
</div>
{% endif %}
</body>
</html>